<!doctype html>
<html>
<table border="1">
  <tr>
    <td>Введите ключ</td>
    <td><input class="js-input-access-key"></td>
    <td><button type="submit" onclick="getSitesBtn()">Загрузить сайты</button></td>
  </tr>
</table>
<p></p>
<table border="1" class="js-sites">
  <tr class="js-table-begin">
    <td>Номер</td>
    <td>Сервис проверки кода вставки</td>
    <td>Запуск</td>
  </tr>
</table>

</html>

<script>
  async function postData(url = '', data = {}) {
    const response = await fetch(url, {
      method: 'POST',
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
      body: JSON.stringify(data)
    });
    return await response.json();
  }

  function createTableHtml(sites) {
    let resultHtml = ``;
    for (let site of sites) {
      let tableHTML =
        `
                            <tr>
                              <td>${sites.indexOf(site)}</td>
                              <td class="js-site-${sites.indexOf(site)}">${site["domain_name"]}</td>
                              <td><button type="button" onclick="checkSiteBtn('${site['domain_name']}','${site['site_key']}',${sites.indexOf(site)})">Проверить</button></td>
                            </tr>
                          `;
      resultHtml += tableHTML;
    }
    return resultHtml;
  }

  document.checkSiteBtn = async function (site = '', site_key = '', site_number = '') {
    let data = await postData('http://127.0.0.1:5000/api/v1.0/site', { "url": site, "site_key": site_key });
    if (data["error"]) {
      document.querySelector(`.js-site-${site_number}`).innerHTML = data["error"];
      return;
    }
    document.querySelector(`.js-site-${site_number}`).innerText = JSON.stringify(data["message"]);
  }

  document.getSitesBtn = async function () {
    let access_token = document.querySelector('.js-input-access-key').value;
    document.querySelector('.js-table-begin').insertAdjacentHTML('afterEnd', '');
    let data = await postData('http://127.0.0.1:5000/api/v1.0/account', { "access_token": access_token });
    if (data["error"]) {
      alert(data["error"]);
      return;
    }
    let tableHTML = createTableHtml(data["message"]);
    document.querySelector('.js-table-begin').insertAdjacentHTML('afterEnd', tableHTML);
  }
</script>